<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>Welcome to <%= title %>
    </h1>
    <p>This is the home page.</p>
</body>

</html>
<!-- 主页的视图模板，使用 EJS 语法来动态渲染内容。 -->